.navbar{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 3rem;
}

.logo{
    display: flex;
}

.logo h1{
    margin-left: 1rem;
}
/* navbar righ  */

#difficult-level{
    margin-right: 0.5rem;
    border-radius: 1rem;
    padding-left: 10px;
    background-color: #6C757D;
    color: #fff;
}
section{
    background-color: #7FFFD4;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#my-container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}


.cell{
    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0);
}

.cell.cliked{
    background-color: blue;
}

.easy{
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.medium{
    height: calc(100% / 9);
    width: calc(100% / 9); 
}
.hard{
    height: calc(100% / 7);
    width: calc(100% / 7); 
}
